/day3/GreeterServer/nbproject/private/
/day3/ServerGreeter/target/
/day3/ServerGreeter/nbproject/
/day3/EchoServer/nbproject/
/day3/EchoServer/target/
/day3/EchoMultiServer/nbproject/
/day3/EchoMultiServer/target/
/day3/TCPTime/target/
/day3/MultiServer/target/
/day1/dayexercise/target/
/day1/day1exercise1/target/
/day1/day1exercise2/target/
/TurntileExercse/turntiles/target/